#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=EmacsNoWait
Exec=emacsclient -n %F
MimeType=text/x-log;text/xml;
Terminal=false
NoDisplay=true
Comment=Emacsclient without waiting
Comment[fr_FR]=Emacsclient sans attente
GenericName=Emacsclient without waiting
